body{
    font-family: 'Oswald', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
    
}
.abir{
    color: rgb(56, 59, 233);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    border: brown;
    border-radius: 3px;

}
.half-width img{
    width: 50%;
    padding-left: 25%;
   
}
.button{
    color: rgb(241, 238, 9);
    background-color: darkblue;
}
.top-banner{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
   
}
section{
    height: 500px;
}
.link{
    text-decoration: none;
    background-image:linear-gradient(rgb(119, 0, 255), rgb(0, 2, 128) );
    padding: 10px 5px ;
    border-radius: 5px;
    color: rgb(215, 252, 7);
}